.recipe-details {
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}

.recipe-bg-image {
  width: 100%;
  min-height: 400px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.recipe-image-overlay {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.0),
    #FAF3E0 75%
  );
  height: 400px;
  width: 100%;
  position: relative;
  top: -400px;
}

.recipe-details-top-section {
  position: relative;
  top: -550px;
  /* display: flex; */
  position: relative;
}

.recipe-details-title {
  margin-left: 10px;
  margin-bottom: 0;
}

.recipe-details-tags {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0;
}

.recipe-details-tag {
  margin: 0 8px;
}

.recipe-details-tag-icon {
  height: 20px;
}